* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
}

header img {
  height: 60px;
}

.top-part {
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(20, 25, 32);
  align-items: center;
}

.toptbtns {
  width: 120px;
  background-color: rgb(20, 25, 32);
  color: white;
  border: 1px solid rgb(20, 25, 32);
  transition: all 0.2s;
  padding: 10px;
  height: 50px;
  white-space: normal;
  text-align: left;
  line-height: 1;
}

.tp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.toptbtns img {
  height: 80%;
  margin-right: 5px;
  filter: brightness(0) invert(1);
  transform: scale(1.5);
}

.toptbtns span {
  font-weight: bold;
  font-size: 0.95rem;
}

.toptbtns:hover {
  border-color: white;
  border-radius: 3px;
}

.bottom-part {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(37, 47, 61);
}

.search-part {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.search-part input {
  border: none;
  height: 40px;
  flex: 1;
}

.search-part:focus-within {
  border: 1px solid;
  border-color: rgb(251, 158, 56);
}

#leftbtn {
  background-color: rgb(230, 230, 230);
  border: none;
  color: rgb(85, 85, 85);
  border-radius: 5px 0px 0px 5px;
  font-size: 0.75rem;
  padding: 10px;
  height: 40px;
}

#rightbtn {
  background-color: rgb(244, 192, 118);
  border: none;
  height: 40px;
  padding: 10px;
  width: 50px;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 5px;
}

.top-left-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bottom-buttons {
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  border: none;
  background-color: rgb(37, 47, 61);
  color: white;
  transition: all 0.2s;
  border: 1px solid rgb(37, 47, 61);
  font-weight: 500;
  font-size: 0.9rem;
}

.bottom-buttons:hover {
  border: 1px solid white;
  border-radius: 3px;
}

.bottom-buttons:active {
  color: gray;
}

.search-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 0.9rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgb(204, 204, 204);
}

.search-results span {
  color: rgb(182, 92, 34);
  font-weight: bold;
}

.search-results p {
  margin-left: 7px;
}

.search-results button {
  padding: 2px 10px;
  border-radius: 8px;
  border: 0.9px solid black;
  background-color: white;
  margin-right: 7px;
}

.search-results button:hover {
  background-color: rgb(248, 250, 250);
}

.main {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  font-size: 0.92rem;
  width: 18vw;
}

.filters {
  display: flex;
  flex-direction: column;
  margin: 7px;
}

.filters label {
  margin-bottom: 5px;
}

.title {
  margin-bottom: 5px;
  font-weight: bold;
}

.sidebar input {
  margin-right: 5px;
}

.left {
  width: 82vw;
  margin-top: 10px;
}

.left p {
  color: rgb(87, 89, 89);
  font-size: 0.9rem;
}

.range {
  margin: 12px 0px;
}
.range p {
  font-weight: bold;
  margin: 10px 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-right: 20px;
}

.card {
  border: 1px solid rgb(245, 245, 245);
  width: calc((100% - 40px) / 5);
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: auto;
  filter: brightness(0.97);
}

.left .card-title {
  color: black;
  font-size: 1rem;
  padding-left: 10px;
}

.calificacion {
  padding-left: 10px;
}

.precio {
  margin-top: 10px;
  padding-left: 10px;
}

.bold {
  font-size: 1.6rem;
  color: black;
}

.line {
  text-decoration: line-through;
}
.entrega {
  margin: 10px 0px;
  padding-left: 10px;
}

.entrega p {
  color: black;
}

.b {
  font-weight: bold;
}

.carrito-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(249, 218, 16);
  color: black;
  padding: 7px 16px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  margin-left: 10px;
}

.carrito-btn:hover {
  background-color: rgb(247, 208, 76);
}

.prime {
  color: rgb(52, 118, 246);
  font-weight: bold;
}
